<!DOCTYPE html>
<html>
<head>
  <script src="js_validation/login_validation.js"></script>
  <link href="/inv/css/registration.css" rel="stylesheet" />
  <title>Log in</title>
</head>

<body>
  <section class="parent">
  	<div></div>
  	<div class="main">
    <p class="sign" align="center">Log in</p>
    <form class="form1" name="form_login" action="/login"  method="post">
      <input class="un " type="text" align="center" id="mail_id" name="loginEmail" placeholder="Email">
      <input class="pass" type="password" align="center" id="loginPassword" name="loginPassword" placeholder="Password" >
      <input  class="submit" type="submit" align="center" name="submit" value="Log in">
      <br>
      <h>Did not register?</h>
      <a href="/registration">Click Here!!!!</a> 
       </form> 
          
                
    </div>
  </section>
     
</body>

</html>

