<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/inv/css/mystyle.css" rel="stylesheet" >
    <title>Insert Book</title>
</head>

<body>

	<div>
		  <header>
			    <h1>OnlineBookStore</h1>
                <p>Easy solution for buying books</p>
                <p align="right">Welcome,<%= name %>.(Logged in as <%= user_type %>) </p>
                <a href="/admin">Home</a>
                <a href="/admin/viewUsers">View Users</a>
                <a href="/logout">Logout</a>
		 </header>


	</div>	
   
 	<hr>
    
                <form method="POST" action="/admin/insertBook">
                    <div>
                      <label>Book Name</label>
                      <input type="text"  name="name">
                    </div>
                      <label>Book Type</label>
                        <div>
                          <select id="bookType" name="bookType">
                            <option  value="Select Book-Type" disabled>Select Your Blood Group</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Romance">Romance</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Crime Fiction">Crime Fiction</option>
                        </select>
                        </div>
					  <div>
                        <label>Author</label>
                        <input type="text"  name="author">
                      </div>
                      <div>
                        <label>Price</label>
                        <input type="number"  name="price">
                        <hr>
                        <input type="submit"  name="submit" value="Insert Book">
                      </div>
                  </form>
                  <hr>
                  <p>After succesful Book Insertion,home page will be redirected*</p>
             
    <div class="footer">
  <p>&copy; Copyright 2020 OnlineBookStore.com </p>
</div>
  </body>
</html>
